.mypage-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.register-form__heading {
    margin-bottom: 20px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 25%;
    text-align: center;
}

.form__group {
    margin-bottom: 5px;
}

.form__group-title {
    text-align: left;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;

    appearance: none;
}

.form__button {
    margin-top: 20px;
}

.form__button-submit {
    padding: 10px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.login__link {
    margin-top: 20px;
    text-align: center;
}

.form__image-select input {
    display: none;
}

.form__image-select {
    border: 2px solid #ff5a5a;
    color: #ff5a5a;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.form__image-preview {
    width: 120px;
    height: 120px;
    background: #ddd;
    border-radius: 50%;
}
.items {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
}

.sold-label {
    background-color: red;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: bold;
}

.tab-area {
    display: flex;
    gap: 16px;
    margin-bottom: 20px;
}

.tab {
    padding: 8px 16px;
    text-decoration: none;
    color: #666;
    border-bottom: 2px solid transparent;
}

.tab.active {
    color: #e60073;
    border-bottom: 2px solid #e60073;
    font-weight: bold;
}